.header {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 400px;
    height: 400px;
  }
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 5rem;
}

.post {
  max-width: 720px;
  margin: 5rem auto 0;

  h1 {
    font-size: 3.5rem;
    font-weight: 900;
  }

  .about {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    color: var(--gray-300);

    div {
      display: flex;
      align-items: center;

      & + div {
        margin-left: 1rem;
      }

      span {
        margin-left: 0.5rem;
      }
    }
  }

  article {
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1.125rem;
    color: var(--gray-100);

    strong {
      font-size: 2rem;
    }

    p,
    ul {
      margin: 1.5rem 0;
    }

    ul {
      padding-left: 1.5rem;

      li {
        margin: 0.5rem 0;
      }
    }
  }
}

.postEnd {
  width: 100%;
  border-bottom: 1px solid rgb(73, 73, 73);
  margin-bottom: 30px;
}

.containerAsidePreview {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 30px;

  .asidePreview {
    height: 3rem;
    background: var(--pink-500);
    border-radius: 10px;
    width: 12rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }
}

.navigation {
  width: 100%;
  height: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divPrevPage {
  position: relative;
  left: 100;

  span {
    font-size: 1rem;
    display: block;
    margin-bottom: 10px;
  }

  a {
    color: var(--pink-500);
  }
}

.divNextPage {
  position: relative;
  right: 0;

  span {
    font-size: 1rem;
    display: block;
    margin-bottom: 10px;
  }

  a {
    color: var(--pink-500);
  }
}

.updated {
  display: block;

  margin: 1rem 0 0;

  font-style: italic;
}


